/* Navbar.css */

.Navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar {
    background-color: #3498db;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .navbar-brand i {
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-weight: bold;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ecf0f1;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 1.2rem;
    }
  }
  